.Navbar {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  padding: 10px !important;
  line-height: 40px !important;
}

.Home-Link {
  color: black !important;
  text-decoration: none !important;
}

.Home-Link:hover {
  text-decoration: underline !important;
}

.Menu-Link {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none !important;
}

.Menu-Link:hover {
  text-decoration: underline !important;
}
